.wrapper {
  position: relative;
  width: 100%;
  margin-inline: auto;
  padding: 2rem;

  background: var(--grey);
  color: var(--almost-white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyButton {
  display: block;
}

.password {
  color: var(--almost-white);
}

.copied {
  display: none;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
}

.copied.show {
  display: inline-block;
}
